@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }


*{
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans', sans-serif;
    word-break: keep-all;
}

a{
    text-decoration: none;
}

li{
    list-style : none;
}

input{
    border:none;
}

input[type=submit]{
    -webkit-appearance:none;
}

.hide{
    display: none !important;
}

.accent{
    color: red;
}

body{
    background-color: rgba(0, 0, 0, 0.15);
}

.wrap{
    margin: auto;
    min-width: 360px;
    max-width: 500px;
    padding-bottom: 71px;
    width: 100%;
    height: auto;
    background-color: white;
}

.wrap .container{
    width: 100%;
    height: auto;
}

.wrap .banner-wrap{
    display: block;
    box-sizing: border-box;
    position: relative;
    padding-left: 20px;
    padding-top: 28px;
    width: 100%;
    height: 351px;
    background-image: url("/common/res/img/img-banner@2x.png");
    background-size: 100%;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    font-size: 0px;
}

.wrap .banner-wrap .phone-icon{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("/common/res/icon/emoji-phone@2x.png");
    background-size: 100%;
}

.wrap .banner-wrap .banner-title{
    display: block;
    margin-top: 4px;
    font-family: 'GmarketSansBold';
    font-size: 26px;
    line-height: 1.31;
    letter-spacing: -1.06px;
    color: #000000;
}

.wrap .banner-wrap .underline{
    display: block;
    position: absolute;
    top: 104px;
    left: 20px;
    width: 144px;
    height: 17px;
    background-image: url("/common/res/icon/img-underline@2x.png");
    background-size: 100%;
}

.wrap .banner-wrap .small-heart{
    display: block;
    position: absolute;
    top: 91px;
    left: 154px;
    width: 8px;
    height: 8px;
    background-image: url("/common/res/icon/emoji-heart@2x.png");
    background-size: 100%;
}

.wrap .banner-wrap .big-heart{
    display: block;
    position: absolute;
    top: 100px;
    left: 150px;
    width: 12px;
    height: 12px;
    background-image: url("/common/res/icon/emoji-heart@2x.png");
    background-size: 100%;
}

.wrap .banner-wrap .banner-subtitle{
    display: block;
    box-sizing: border-box;
    margin-left: -20px;
    margin-top: 14px;
    padding-left: 20px;
    width: 143px;
    height: 29px;
    font-family: 'GmarketSansBold';
    font-size: 12px;
    line-height: 30px;
    letter-spacing: -0.49px;
    color: #f8455f;
    border-top-right-radius: 24.5px;
    border-bottom-right-radius: 24.5px;
    border: solid 1px #ebebeb;
    background-color: #f3f3f3;
}

.wrap .banner-wrap .banner-subtitle .hand-icon{
    display: inline-block;
    margin-top: 5px;
    margin-left: 0px;
    width: 16px;
    height: 16px;
    background-image: url("/common/res/icon/emoji-rightpointinghand@2x.png");
    background-size: 100%;
    vertical-align: top;
}

.wrap .auction-btn{
    display: block;
    position: relative;
    box-sizing: border-box;
    margin-top: 25px;
    padding: 0px 20px;
    width: 100%;
    height: 69px;
    line-height: 71px;
    border-radius: 23px;
    box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.13);
    background-color: #f8455f;
}

.wrap .auction-btn .auction-btn-icon{
    display: inline-block;
    position: relative;
    top: -0.5px;
    width: 26px;
    height: 26px;
    vertical-align: middle;
}

.wrap .auction-btn .txt-1{
    display: inline-block;
    height: 18px;
    line-height: 21px;
    margin-left: 9px;
    font-family: 'GmarketSansBold';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.74px;
    color: #ffffff;
    vertical-align: middle;
}

.wrap .auction-btn .auction-btn-link{
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    width: 41px;
    height: 20px;
    line-height: 20px;
    border-radius: 12px;
    background-color: white;
}

.wrap .auction-btn .auction-btn-link .auction-btn-link-arrow{
    display: block;
    margin-left: 9px;
    margin-top: 3px;
    width: 25px;
    height: 13px;
}

.wrap .sell-rank-wrap{
    display: block;
    box-sizing: border-box;
    position: relative;
    margin-top: 44px;
    padding: 27px 0px 18px 20px;
    width: 100%;
    height: auto;
    border-radius: 32px;
    background-color: #f8f9fb;
}

.wrap .sell-rank-wrap .sell-rank-title{
    display: block;
    width: 100%;
    height: 28px;
    line-height: 28px;
}

.wrap .sell-rank-wrap .sell-rank-title .sell-rank-title-icon{
    display: inline-block;
    margin-left: 2px;
    width: 28px;
    height: 28px;
    vertical-align: middle;
}

.wrap .sell-rank-wrap .sell-rank-title .sell-rank-title-title{
    display: inline-block;
    margin-left: 4px;
    height: 20px;
    line-height: 24px;
    font-family: 'GmarketSansBold';
    font-size: 20px;
    letter-spacing: -0.82px;
    vertical-align: middle;
}

.wrap .sell-rank-wrap .sell-rank-title .sell-rank-title-date{
    display: block;
    position: absolute;
    right: 20px;
    top: 33px;
    height: 18px;
    font-size: 12px;
    line-height: normal;
    font-weight: normal;
    letter-spacing: -0.6px;
    text-align: right;
    color: #888c99;
}

.wrap .sell-rank-wrap .rank_bar{
    display: block;
    margin-top: 16px;
    margin-bottom: 14px;
    width: 100%;
    height: 1px;
    background-color: #d9dbe0;
}

.wrap .sell-rank-wrap .sell-rank-item{
    margin-top: 8px;
}

.wrap .sell-rank-wrap .sell-rank-item-num{
    display: inline-block;
    width: 24px;
    height: 27px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.74px;
    color: #f8455f;
    vertical-align: middle;
}

.wrap .sell-rank-wrap .sell-rank-item-title{
    display: inline-block;
    height: 27px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.45px;
    font-weight: bold;
    color: #222222;
    vertical-align: middle;
}

.wrap .sell-rank-wrap .sell-rank-item-change{
    display: inline-block;
    margin-left: 6px;
    padding: 0px 6px 0px 6px;
    height: 16px;
    line-height: 12px;
    border-radius: 10.5px;
    vertical-align: middle;
    background-color: #4e535e;
}

.wrap .sell-rank-wrap .sell-rank-item-change.up{
    background-color: #f8455f;
}

.wrap .sell-rank-wrap .sell-rank-item-change.down{
    background-color: #0071ec;
}

.wrap .sell-rank-wrap .sell-rank-item-change .nochange{
    display: block;
    margin-top: 7px;
    width: 9px;
    height: 1px;
    background-color: white;
}

.wrap .sell-rank-wrap .sell-rank-item-change .sell-rank-item-change-arrow{
    display: inline-block;
    margin-left: -1px;
    margin-right: 1.5px;
    width: 7px;
    height: 10px;
    vertical-align: middle;
}

.wrap .sell-rank-wrap .sell-rank-item-change.down .sell-rank-item-change-arrow{
    transform: rotate(180deg);
}

.wrap .sell-rank-wrap .sell-rank-item-change .sell-rank-item-change-num{
    display: inline-block;
    margin-left: -5px;
    font-size: 12px;
    letter-spacing: -0.53px;
    color: #ffffff;
}

.wrap .sell-rank-wrap .sell-rank-show{
    display: block;
    position: absolute;
    top: 88px;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.wrap .sell-rank-wrap .sell-rank-hide{
    display: block;
    box-sizing: border-box;
    margin: auto;
    margin-top: 16px;
    width: 102px;
    height: 26px;
    line-height: 28px;
    font-size: 14px;
    font-family: 'GmarketSansMedium';
    font-weight: 500;
    letter-spacing: -0.57px;
    color: #7c8290;
    text-align: center;
    border-radius: 13px;
    border: solid 1px #d1d9ec;
}

.wrap .guide-btn-wrap{
    display: block;
    box-sizing: border-box;
    position: relative;
    margin-top: 50px;
    padding: 31px 20px;
    width: 100%;
    height: 110px;
    border-radius: 26px;
    background-image: url("/common/res/img/img-mainmiddlebanner@2x.png");
    background-size: 100%;
    background-position: center;
}

.wrap .guide-btn-wrap .guide-poper-icon{
    display: block;
    position: absolute;
    top: -17px;
    left: 21px;
    width: 42px;
    height: 42px;
}

.wrap .guide-btn-wrap .txt{
    display: block;
    font-size: 21px;
    font-family: 'GmarketSansBold';
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: -0.86px;
    color: #ffffff;
}

.wrap .guide-btn-wrap .guide-btn-link{
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 45px;
    right: 20px;
    padding: 4px 0px;
    width: 107px;
    height: 20px;
    line-height: 12px;
    border-radius: 12px;
    background-color: white;
}

.wrap .guide-btn-wrap .guide-btn-link-txt{
    display: inline-block;
    margin-left: 9px;
    width: 62px;
    font-size: 12px;
    font-family: 'GmarketSansBold';
    line-height: 16px;
    letter-spacing: -0.1px;
    color: #f8455f;
    vertical-align: top;
}

.wrap .guide-btn-wrap .guide-btn-link-arrow{
    display: inline-block;
    width: 25px;
    height: 12px;
    vertical-align: text-top;
}

.wrap .today-lowest-wrap{
    display: block;
    box-sizing: border-box;
    position: relative;
    margin-top: 44px;
    padding: 19px 20px;
    width: 100%;
    height: auto;
    border-radius: 32px;
    background-color: #f8f9fb;
}

.wrap .today-lowest-wrap .today-lowest-title-icon{
    display: inline-block;
    width: 29px;
    height: 29px;
    vertical-align: middle;
}

.wrap .today-lowest-wrap .today-lowest-title-title{
    display: inline-block;
    margin-left: 6px;
    height: 20px;
    font-size: 20px;
    font-family: 'GmarketSansBold';
    line-height: 22px;
    letter-spacing: -0.82px;
    vertical-align: middle;
}

.wrap .today-lowest-wrap .today-lowest-title-date{
    position: absolute;
    top: 27px;
    right: 20px;
    height: 18px;
    line-height: normal;
    font-size: 12px;
    letter-spacing: -0.6px;
    text-align: right;
    color: #888c99;
}

.wrap .today-lowest-wrap .today-lowest-bar{
    display: block;
    margin-top: 26px;
    margin-bottom: 24px;
    width: 100%;
    height: 1px;
    background-color: #d9dbe0;
}

.wrap .today-lowest-wrap .today-lowest-bar.title{
    margin-top: 13px;
}

.wrap .today-lowest-wrap .today-lowest-bar.last{
    margin-bottom: 20px;
}

.wrap .today-lowest-wrap .today-lowest-item{
    position: relative;
}

.wrap .today-lowest-wrap .today-lowest-item-img{
    display: block;
    margin-right: 14px;
    width: 108px;
    height: 104px;
    float: left;
}

.wrap .today-lowest-wrap .today-lowest-item-title{
    display: block;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: -0.57px;
    color: #222222;
}

.wrap .today-lowest-wrap .today-lowest-item-price{
    margin-top: 5px;
    margin-bottom: 11px;
}

.wrap .today-lowest-wrap .today-lowest-item-price-final{
    display: inline-block;
    height: 26px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.46px;
    color: #f8455f;
}

.wrap .today-lowest-wrap .today-lowest-item-price-final span{
    display: inline-block;
    margin-left: 2px;
    height: 20px;
    line-height: normal;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.57px;
    color: #f8455f;
    vertical-align: middle;
}

.wrap .today-lowest-wrap .today-lowest-item-price-origin{
    display: inline-block;
    margin-left: 2px;
    height: 18px;
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #b6bbc7;
    text-decoration: line-through;
    text-decoration-color: #ff295a;
    vertical-align: text-bottom;
}

.wrap .today-lowest-wrap .facekiss-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
}

.wrap .today-lowest-wrap .today-lowest-item-event{
    display: inline-block;
    width: 139px;
    height: 22px;
    line-height: 18px;
    background-image: url("/common/res/icon/ic-partner-discount@2x.png");
    background-size: 100%;
    vertical-align: top;
}

.wrap .today-lowest-wrap .today-lowest-item-event .today-lowest-item-event-price{
    display: inline-block;
    margin-left: 8px;
    width: 57px;
    height: 14px;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: middle;
}

.wrap .today-lowest-wrap .today-lowest-item-event .today-lowest-item-event-txt{
    display: inline-block;
    margin-left: -2px;
    height: 14px;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: #ffffff;
    vertical-align: middle;
}

.wrap .today-lowest-wrap .today-lowest-item-tag{
    display: block;
    margin-top: 11px;
    height: 23px;
}

.wrap .today-lowest-wrap .today-lowest-item-tag li{
    display: inline-block;
    box-sizing: border-box;
    margin-right: 4px;
    padding: 2px 8px;
    height: 23px;
    border-radius: 10.5px;
    border: solid 1px #e8edf5;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.45px;
    color: #7c8290;
}

.wrap .today-lowest-wrap .today-lowest-more-title{
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 102px;
    height: 26px;
    line-height: 28px;
    font-family: 'GmarketSansMedium';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.57px;
    color: #7c8290;
    text-align: center;
    border-radius: 13px;
    border: solid 1px #d1d9ec;
}