@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }

*{
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans', sans-serif;
    word-break: keep-all;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style : none;
}

input{
    border:none;
}

input[type=submit]{
    -webkit-appearance:none;
}

.hide{
    display: none;
}

.accent{
    color: red;
}

body{
    background-color: rgba(0, 0, 0, 0.15);
}

.wrap{
    margin: auto;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 139px;
    min-width: 360px;
    max-width: 500px;
    min-height: 730px;
    width: 100%;
    height: auto;
    background-color: white;
    overflow: hidden;
}

.wrap .container{
    width: 100%;
    height: 100%;
}

.wrap .top-wrap{
    display: block;
    box-sizing: border-box;
    padding-top: 18px;
    width: 100%;
    height: 56px;
    font-size: 0px;
}

.wrap .top-wrap .top-back{
    display: block;
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.wrap .title-wrap{
    display: block;
    box-sizing: border-box;
    margin-top: 4px;
    padding-left: 20px;
}

.wrap .title-wrap .title-1{
    font-size: 22px;
    height: 22px;
    line-height: 26px;
    font-family: 'GmarketSansBold';
    font-weight: bold;
}

.wrap .title-wrap .title-2{
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'GmarketSansMedium';
    font-weight: 500;
    letter-spacing: -0.3px;
    color: #888c99;
}

.wrap .agencies-wrap{
    display: block;
    box-sizing: border-box;
    margin-top: -10px;
    padding: 0px 20px;
}

.wrap .agencies-wrap .agency-item{
    display: block;
    box-sizing: border-box;
    padding: 30px 0px;
    border-bottom: solid 1px #ededf2;
}

.wrap .agencies-wrap .agency-item:last-child{
    border: none;
}

.wrap .agencies-wrap .agency-item .agency-item-head{
    display: block;
    position: relative;
    height: 68px;
    line-height: 68px;
    font-size: 0px;
}

.wrap .agencies-wrap .agency-item .agency-item-head .agency-logo{
    display: inline-block;
    margin-right: 16px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.wrap .agencies-wrap .agency-item .agency-item-head .agency-content{
    display: inline-block;
    vertical-align: middle;
}

.wrap .agencies-wrap .agency-item .agency-item-head .agency-content .content-num{
    display: block;
    height: 18px;
    line-height: normal;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #31353e;
}

.wrap .agencies-wrap .agency-item .agency-item-head .agency-content .content-date{
    display: block;
    height: 15px;
    line-height: normal;
    font-size: 10px;
    letter-spacing: -0.4px;
    color: #888c99;
}

.kt{
    background-image: url("/common/res/icon/ic-kt-24@2x.png");
    background-size: 100%;
}

.lg{
    background-image: url("/common/res/icon/ic-lgu-24@2x.png");
    background-size: 100%;
}

.sk{
    background-image: url("/common/res/icon/ic-skt-24@2x.png");
    background-size: 100%;
}

.wrap .agencies-wrap .agency-item .agency-item-head .agency-state{
    display: block;
    position: absolute;
    right: 6px;
    top: 25px;
    height: 18px;
    line-height: normal;
    cursor: pointer;
}

.wrap .agencies-wrap .agency-item .agency-item-head .agency-state .state-txt{
    display: inline-block;
    font-size: 12px;
    letter-spacing: -0.7px;
    text-align: right;
    color: #f8455f;
    vertical-align: top;
}

.wrap .agencies-wrap .agency-item.active .agency-item-head .agency-state .state-txt{
    color: #0071ec;
}

.wrap .agencies-wrap .agency-item .agency-item-head .agency-state .state-arrow{
    display: inline-block;
    margin-left: 5px;
    margin-top: 6px;
    width: 6px;
    height: 6px;
    transform: rotate(-45deg);
    border-bottom: solid 1.2px #4e535e;
    border-right: solid 1.2px #4e535e;
    vertical-align: top;
}

.wrap .agencies-wrap .agency-item .agency-item-items{
    display: block;
    margin-top: -8px;
    margin-left: -8px;
    font-size: 0px;
}

.wrap .agencies-wrap .agency-item .agency-item-items li{
    display: inline-block;
    box-sizing: border-box;
    margin-top: 8px;
    margin-left: 8px;
    padding: 0px 10px;
    height: 26px;
    line-height: 29px;
    font-family: 'GmarketSansMedium';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.11px;
    text-align: center;
    color: #888c99;
    border-radius: 14px;
    background-color: #f3f5f8;
    cursor: pointer;
}

.wrap .agencies-wrap .agency-item .agency-item-items .set-last{
    display: inline-block;
    box-sizing: border-box;
    margin-top: 8px;
    margin-left: 8px;
    padding: 0px 10px;
    height: 26px;
    line-height: 26px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: -0.3px;
    color: #f8455f;
    text-align: center;
    border-radius: 14px;
    background-color: #f3f5f8;
    cursor: pointer;
}

.wrap .caution-wrap{
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0px 20px;
    padding-top: 24px;
    padding-bottom: 20px;
    width: 100%;
    border-radius: 26px;
    background-color: #f8f9fb;
}

.wrap .caution-wrap .caution-title{
    display: block;
    height: 12px;
    line-height: 14px;
    font-family: 'GmarketSansBold';
    font-size: 12px;
    letter-spacing: -0.1px;
    color: #888c99;
}

.wrap .caution-wrap .caution-content{
    display: block;
    margin-top: 13px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.5px;
    color: #888c99;
}