<!--
/********************************************************************************************************************************************
		NICE평가정보 Copyright(c) KOREA INFOMATION SERVICE INC. ALL RIGHTS RESERVED
		
		서비스명 : 본인인증 (CheckPlus) 서비스
		페이지명 : 본인인증 (CheckPlus) 호출 페이지
*********************************************************************************************************************************************/
-->   
<html>
<head>
    <title>NICE평가정보 - CheckPlus 본인인증</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>
<body>
    <div id='test' value= <%= encyrptedData %> > </div>
    <script language='javascript'>
        function redirectToPage(){
            var data = $("#test").attr("value")
            var url = "http://www.peachphone.co.kr/web/user/join/certificate/?info=" + data;
            window.opener.location.href=url;
            //self.close();
        }
        $( document ).ready(function() {
            redirectToPage();
        });
    </script>
</body>
</html>