<!--
/********************************************************************************************************************************************
		NICE평가정보 Copyright(c) KOREA INFOMATION SERVICE INC. ALL RIGHTS RESERVED
		
		서비스명 : 본인인증 (CheckPlus) 서비스
		페이지명 : 본인인증 (CheckPlus) 호출 페이지
*********************************************************************************************************************************************/
-->   
<html>
<head>
    <title>NICE평가정보 - CheckPlus 본인인증</title>
</head>
<body>
    <center>
    <p><p><p><p>
    본인인증이 완료 되었습니다.<br>
    </center>

    <script language='javascript'>
        function redirectToParent(){
            var url = "http://www.peachphone.co.kr/web/user/join/certificate/" + "<%=encryptedData%>"
            window.opener.location.href=url;
            window.close();
        }
        document.addEventListener("DOMContentLoaded", function(){
            redirectToParent();
        });

        </script>
</body>
</html>