doctype html
html
    head    
        title aptioncompany
    body
        form(action='/phone/' method='GET')
            input(type='text' name='phone_id')
            input(type='submit')
        div(class='parent') hereisParent
            div(class='child') hereischild