@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }


*{
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans', sans-serif;
    word-break: keep-all;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style : none;
}

input{
    border:none;
}

input[type=submit]{
    -webkit-appearance:none;
}

.hide{
    display: none !important;
}

.accent{
    color: red;
}

body{
    background-color: rgba(0, 0, 0, 0.15);
}

.wrap{
    margin: auto;
    position: relative;
    min-width: 360px;
    max-width: 500px;
    width: 100%;
    height: auto;
    background-color: white;
    overflow: hidden;
    font-size: 0px;
    text-align: center;
}

.wrap .container{
    width: 100%;
    height: auto;
}

.title{
    display: block;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
    font-size: 24px;
    font-family: 'GmarketSansBold';
}

.wrap .button-left{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-top: 100px;
    width: 20%;
    height: 300px;
}

.wrap .button-left .l-btn{
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    border-bottom: solid 1px #ededed;
    border-right: solid 1px #ededed;
    transform: rotate(135deg);
}

.wrap .button-right{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-top: 100px;
    width: 20%;
    height: 300px;
}

.wrap .button-right .r-btn{
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    border-bottom: solid 1px #ededed;
    border-right: solid 1px #ededed;
    transform: rotate(-45deg);
}

.wrap .chinese-wrap{
    display: inline-block;
    box-sizing: border-box;
    padding: 30px;
    width: 60%;
    background-color: #f8f9fb;
    border-radius: 26px;
}

.wrap .chinese-wrap .chinese-object{
    display: block;
    margin: auto;
    height: 150px;
    font-size: 0px;
}

.wrap .chinese-wrap .chinese-object:hover{
    font-size: 100px;
}

.wrap .chinese-wrap .chinese-meaning{
    display: block;
    margin: auto;
    margin-top: 50px;
    font-size: 30px;
    width: 100%;
}

.wrap .korean{
    margin-top: 30px;
}

.wrap .korean .chinese-wrap .chinese-object{
    display: block;
    margin: auto;
    height: 50px;
    font-size: 0px;
}

.wrap .korean .chinese-wrap .chinese-object:hover{
    font-size: 50px;
}

.wrap .korean .chinese-wrap .chinese-meaning{
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 100px;
    width: 100%;
}

.wrap .reading{
    margin-top: 30px;
}

.wrap .reading .chinese-wrap .chinese-object{
    display: block;
    margin: auto;
    height: 50px;
    font-size: 0px;
}

.wrap .reading .chinese-wrap .chinese-object:hover{
    font-size: 50px;
}

.wrap .reading .chinese-wrap .chinese-meaning{
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 100px;
    width: 100%;
}