/*#region init CSS*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

a {
    text-decoration: none;
}

li {
	list-style : none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius:0;
    border-radius:0;
	border:none;
}

input[type=submit] {
	-webkit-appearance:none;
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius:0;
    border-radius:0;
	border:none;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius:0;
    border-radius:0;
	border:none;
}

select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius:0;
    border-radius:0;
	border:none;
}

.wrap .footer-wrap{
    display: block;
    position: fixed;
    box-sizing: border-box;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 360px;
    max-width: 500px;
    height: 56px;
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    font-size: 0px;
}

.wrap .footer-wrap .menu-item{
    display: inline-block;
    box-sizing: border-box;
    padding-top: 8px;
    width: 25%;
    height: 56px;
    text-align: center;
    cursor: pointer;
}

.wrap .footer-wrap .menu-item .menu-icon{
    display: block;
    margin: auto;
    width: 24px;
    height: 24px;
}

.wrap .footer-wrap .menu-item .menu-item-name{
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #222222;
}

.wrap .footer-wrap .menu-item.select .menu-item-name{
    color: #f8455f;
}

.wrap .footer-wrap .menu-item .menu-icon.home-icon{
    background-image: url('/common/res/icon/home-default@2x.png');
    background-size: 100%;
}

.wrap .footer-wrap .menu-item.select .menu-icon.home-icon{
    background-image: url('/common/res/icon/home-active@2x.png');
    background-size: 100%;
}

.wrap .footer-wrap .menu-item .menu-icon.mybid-icon{
    background-image: url('/common/res/icon/mybids-default@2x.png');
    background-size: 100%;
}

.wrap .footer-wrap .menu-item.select .menu-icon.mybid-icon{
    background-image: url('/common/res/icon/mybids-active@2x.png');
    background-size: 100%;
}

.wrap .footer-wrap .menu-item .menu-icon.alarm-icon{
    background-image: url('/common/res/icon/alram-default@2x.png');
    background-size: 100%;
}

.wrap .footer-wrap .menu-item.select .menu-icon.alarm-icon{
    background-image: url('/common/res/icon/alram-active@2x.png');
    background-size: 100%;
}

.wrap .footer-wrap .menu-item .menu-icon.mypage-icon{
    background-image: url('/common/res/icon/my-default@2x.png');
    background-size: 100%;
}

.wrap .footer-wrap .menu-item.select .menu-icon.mypage-icon{
    background-image: url('/common/res/icon/my-active@2x.png');
    background-size: 100%;
}

.wrap .top-back{
    cursor: pointer;
}

.galaxy-zflip{
    display: block;
    margin: auto;
    width: 86px;
    height: 96px;
    background-image: url("/common/res/img/img-gyzflip@2x.png");
    background-size: 100%;
}

.galaxy-ultra{
    display: block;
    margin: auto;
    width: 56px;
    height: 100px;
    background-image: url("/common/res/img/img-gy-20-ultra@2x.png");
    background-size: 100%;
}

.galaxy-fold{
    display: block;
    margin: auto;
    width: 66px;
    height: 100px;
    background-image: url("/common/res/img/img-gflod.png");
    background-size: 100%;
}

.galaxy-note10{
    display: block;
    margin: auto;
    width: 80px;
    height: 100px;
    background-image: url("/common/res/img/img-gy-note-10.png");
    background-size: 100%;
}

.iphone11{
    display: block;
    margin: auto;
    width: 86px;
    height: 89px;
    background-image: url("/common/res/img/img-ip-11@2x.png");
    background-size: 100%;
}

.iphone11-pro{
    display: block;
    margin: auto;
    width: 85px;
    height: 100px;
    background-image: url("/common/res/img/img-ip-11-pro.png");
    background-size: 100%;
}

/*#endregion */