@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }


*{
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans', sans-serif;
    word-break: keep-all;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    font-family: inherit;
    font-weight: bold;
}

li{
    list-style : none;
}

input{
    border:none;
}

input[type=submit]{
    -webkit-appearance:none;
}

.hide{
    display: none;
}

.accent{
    color: red;
}

body{
    background-color: rgba(0, 0, 0, 0.15);
}

.wrap{
    margin: auto;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 77px;
    min-width: 360px;
    max-width: 500px;
    width: 100%;
    height: auto;
    background-color: white;
    overflow: hidden;
}

.wrap .top-wrap{
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 66px;
    font-size: 0px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: #f8f9fb;
}

.wrap .top-wrap .top-back{
    display: block;
    position: absolute;
    top: 16px;
    left: 20px;
    height: 24px;
    font-size: 16px;
    letter-spacing: -0.57px;
    color: #222222;
}

.wrap .top-wrap .top-title{
    display: block;
    margin: auto;
    padding-top: 13px;
}

.wrap .top-wrap .top-title .top-title-name{
    display: block;
    margin: auto;
    height: 16px;
    line-height: 20px;
    font-family: 'GmarketSansBold';
    font-size: 16px;
    letter-spacing: -0.15px;
    text-align: center;
    color: #222222;
}

.wrap .top-wrap .top-title .top-title-time{
    display: block;
    margin-top: 4px;
    text-align: center;
}

.wrap .top-wrap .top-title .top-title-time .top-title-time-icon{
    display: inline-block;
    margin-top: 1px;
    width: 10px;
    height: 10px;
    vertical-align: top;
}

.wrap .top-wrap .top-title .top-title-time .top-title-time-txt{
    display: inline-block;
    margin-left: 4px;
    height: 12px;
    line-height: 15px;
    font-family: 'GmarketSansMedium';
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.11px;
    color: #888c99;
}

.wrap .top-wrap .top-view .top-view-pack{
    display: block;
    position: absolute;
    top: 18px;
    right: 56px;
}

.wrap .top-wrap .top-view .top-view-pack .top-view-pack-icon{
    display: block;
    width: 18px;
    height: 18px;
}

.wrap .top-wrap .top-view .top-view-list{
    display: block;
    position: absolute;
    top: 18px;
    right: 20px;
}

.wrap .top-wrap .top-view .top-view-list .top-view-list-icon{
    display: block;
    width: 21px;
    height: 19px;
}

.wrap .bid-wrap .bid-list .bid-item{
    display: block;
    box-sizing: border-box;
    margin: auto;
    margin-top: 16px;
    width: 88.9%;
    height: 249px;
    border-radius: 23px;
    border: solid 1px #f3f5f8;
    background-color: #ffffff;
    overflow: hidden;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-head{
    display: block;
    box-sizing: border-box;
    position: relative;
    padding-top: 16px;
    padding-left: 20px;
    width: 100%;
    height: 63px;
    font-size: 0px;
    background-color: #f8f9fb;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-head .bid-item-shop-info .bid-item-shop-name{
    display: block;
    height: 21px;
    line-height: 24px;
    font-family: 'GmarketSansMedium';
    font-size: 21px;
    font-weight: 500;
    letter-spacing: -0.19px;
    color: #222222;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-head .bid-item-shop-info .bid-item-shop-name .shop-btn-icon{
    display: inline-block;
    margin-top: 4px;
    margin-left: 4px;
    width: 17px;
    height: 12px;
    vertical-align: top;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-head .bid-item-shop-info .bid-item-shop-detail{
    display: block;
    margin-top: 1px;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-head .bid-item-shop-info .bid-item-shop-detail .shop-position-icon{
    display: inline-block;
    margin-top: 3px;
    width: 7px;
    height: 10px;
    vertical-align: top;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-head .bid-item-shop-info .bid-item-shop-detail .shop-detail-txt{
    display: inline-block;
    margin-left: 4px;
    height: 15px;
    font-size: 10px;
    letter-spacing: -0.6px;
    color: #888c99;
    vertical-align: top;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-head .bid-item-shop-info .bid-item-shop-detail .shop-detail-divider{
    display: inline-block;
    margin: 5px 8px;
    width: 1px;
    height: 7px;
    background-color: #d1d8e4;
    vertical-align: top;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-head .bid-item-shop-info .bid-item-shop-detail .shop-delivery-icon{
    display: inline-block;
    margin-top: 4px;
    width: 10px;
    height: 9px;
    vertical-align: top;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-head .bid-item-shop-score{
    display: block;
    position: absolute;
    top: 22px;
    right: 16px;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-head .bid-item-shop-score .shop-score-icon{
    display: inline-block;
    margin-top: 4px;
    width: 15px;
    height: 12px;
    vertical-align: top;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-head .bid-item-shop-score .bid-item-shop-review{
    display: inline-block;
    margin-left: 6px;
    height: 20px;
    font-size: 14px;
    color: #888c99;
    vertical-align: top;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-head .bid-item-shop-score .bid-item-shop-review p{
    display: inline;
    font-weight: bold;
    color: #f8455f;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-content{
    display: block;
    box-sizing: border-box;
    padding: 4px 20px 0px 20px;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-content .bid-item-info{
    display: block;
    box-sizing: border-box;
    position: relative;
    margin-top: 12px;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-content .bid-item-info .bid-item-key{
    display: block;
    height: 20px;
    font-size: 14px;
    letter-spacing: -0.42px;
    color: #222222;
    opacity: 0.5;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-content .bid-item-info .bid-item-value{
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    font-size: 14px;
    color: #222222;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-content .bid-item-info-big{
    display: block;
    box-sizing: border-box;
    position: relative;
    margin-top: 12px;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-content .bid-item-info-big .bid-item-key{
    display: block;
    height: 20px;
    font-size: 14px;
    letter-spacing: -0.42px;
    color: #222222;
    opacity: 0.5;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-content .bid-item-info-big .bid-item-value{
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    font-size: 14px;
    color: #222222;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-divider{
    display: block;
    box-sizing: border-box;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 87.5%;
    height: 2px;
    border-bottom: dashed 1px #b6bbc7;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-foot{
    display: block;
    box-sizing: border-box;
    position: relative;
    padding: 0px 20px;
    padding-bottom: 20px;
    height: 54px;
    font-size: 0px;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-foot .bid-item-win-btn{
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 10px 16px;
    width: 100%;
    height: 34px;
    border-radius: 17px;
    border: solid 1px #ff295a;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-foot .bid-item-price-txt{
    display: block;
    height: 14px;
    line-height: 16px;
    font-family: 'GmarketSansMedium';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.47px;
    color: #ff295a;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-foot .bid-item-price-txt p{
    display: inline;
    font-family: 'GmarketSansBold';
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-foot .bid-card-price-num{
    display: inline;
    line-height: 16px;
    font-family: 'GmarketSansMedium';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.47px;
    color: #f8455f;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-foot .bid-card-detail-icon{
    display: block;
    position: absolute;
    top: 8px;
    right: 10px;
    width: 33px;
    height: 16px;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-foot .bid-card-price-num .bid-item-price-back{
    display: block;
    position: absolute;
    top: 18px;
    width: 100%;
    height: 12px;
    opacity: 0.2;
    background-color: #f8455f;
}

.wrap .bid-wrap .bid-list .bid-item .bid-item-foot .bid-card-detail{
    display: block;
    position: absolute;
    top: 7px;
    right: 20px;
    width: 16px;
    height: 17px;
}

.wrap .bottom-wrap{
    display: block;
    box-sizing: border-box;
    position: fixed;
    padding: 12px 16px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 360px;
    max-width: 500px;
    height: 62px;
    font-size: 0px;
    border-top: solid 1px rgba(216, 216, 216, 0.5);
    background-color: white;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.wrap .bottom-wrap .bottom-btn-slide a{
    display: inline-block;
    box-sizing: border-box;
    margin-right: 12px;
    padding: 11px 24px;
    width: fit-content;
    height: 38px;
    line-height: 22px;
    font-size: 16px;
    font-family: 'GmarketSansMedium';
    font-weight: 500;
    letter-spacing: -0.65px;
    text-align: center;
    color: #ffffff;
    background-color: #4e535e;
    border-radius: 24px;
}

.wrap .bottom-wrap .bottom-btn-slide .win-btn{
    background-color: #f8455f;
    font-family: 'GmarketSansBold';
}

.wrap .bottom-wrap::-webkit-scrollbar {
    display: none;
}