@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }


*{
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans', sans-serif;
    word-break: keep-all;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    font-family: inherit;
    font-weight: bold;
}

li{
    list-style : none;
}

input{
    border:none;
}

input[type=submit]{
    -webkit-appearance:none;
}

.hide{
    display: none;
}

.accent{
    color: red;
}

body{
    background-color: rgba(0, 0, 0, 0.15);
}

.wrap{
    margin: auto;
    position: relative;
    min-width: 360px;
    max-width: 500px;
    width: 100%;
    height: auto;
    background-color: white;
    overflow: hidden;
}

.wrap .container{
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 106px;
    width: 100%;
    height: auto;
    background-color: white;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    box-shadow: 0 -7px 20px 0 rgba(0, 0, 0, 0.11);
}

.wrap .top-wrap{
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 94px;
    font-size: 0px;
    background-color: white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.wrap .top-wrap .top-back{
    display: block;
    position: absolute;
    top: 16px;
    left: 20px;
    height: 24px;
    font-size: 16px;
    letter-spacing: -0.57px;
    color: #222222;
}

.wrap .top-wrap .top-title{
    display: block;
    margin: auto;
    padding-top: 56px;
    height: 18px;
    line-height: 22px;
    font-size: 18px;
    font-family: 'GmarketSansBold';
    letter-spacing: -0.16px;
    text-align: center;
    color: #222222;
}

.wrap .caution-wrap{
    display: block;
    box-sizing: border-box;
    padding: 0px 20px;
}

.wrap .caution-wrap .caution-container{
    display: block;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    border-radius: 14px;
    background-color: #f8f9fb;
}

.wrap .caution-wrap .caution-container .caution-title{
    height: 12px;
    line-height: 15px;
    font-family: 'GmarketSansMedium';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.24px;
    color: #4e535e;
}

.wrap .caution-wrap .caution-container .caution-content{
    display: block;
    margin-top: 20px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #888c99;
}

.wrap .agree-wrap{
    display: block;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 0px 20px;
}

.wrap .agree-wrap .agree-container{
    display: block;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 20px;
    height: 52px;
    border-radius: 14px;
    border: solid 1px #eff4fa;
    font-size: 0px;
}

.wrap .agree-wrap .agree-container .agree-icon{
    display: inline-block;
    box-sizing: border-box;
    margin-top: -2px;
    margin-right: 14px;
    width: 16px;
    height: 16px;
    border: solid 1px #b6bbc7;
    border-radius: 16px;
    vertical-align: top;
    cursor: pointer;
}

.wrap .agree-wrap .agree-container .agree-icon.agreed{
    border: none;
}

.wrap .agree-wrap .agree-container .agree-icon .agreed-btn-img{
    display: none;
}

.wrap .agree-wrap .agree-container .agree-icon.agreed .agreed-btn-img{
    display: block;
    width: 16px;
    height: 16px;
}

.wrap .agree-wrap .agree-container .agree-txt{
    display: inline-block;
    height: 12px;
    line-height: 15px;
    font-family: 'GmarketSansMedium';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.24px;
    color: #4e535e;
}

.wrap .withdraw-wrap{
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    left: 0px;
    padding: 0px 20px;
    width: 100%;
}

.wrap .withdraw-wrap .withdraw-btn{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    line-height: 62px;
    border-radius: 16px;
    background-color: #f8f9fb;
    font-family: 'GmarketSansBold';
    font-size: 18px;
    text-align: center;
    color: #4e535e;
    cursor: pointer;
}