@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }


*{
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans', sans-serif;
    word-break: keep-all;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    font-family: inherit;
    font-weight: bold;
}

li{
    list-style : none;
}

input{
    border:none;
}

input[type=submit]{
    -webkit-appearance:none;
}

.hide{
    display: none;
}

.accent{
    color: red;
}

body{
    background-color: rgba(0, 0, 0, 0.15);
}

.wrap{
    margin: auto;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 30px;
    min-width: 360px;
    max-width: 500px;
    width: 100%;
    height: auto;
    background-color: white;
    overflow: hidden;
}

.wrap .top-wrap{
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 56px;
    font-size: 0px;
    border-bottom: solid 1px #ededf2;
}

.wrap .top-wrap .top-back{
    display: block;
    position: absolute;
    top: 18px;
    left: 20px;
}

.wrap .top-wrap .top-back .top-back-arrow{
    display: block;
    width: 20px;
    height: 20px;
}

.wrap .top-wrap .top-title{
    display: block;
    margin: auto;
    padding-top: 20px;
    height: 16px;
    line-height: 20px;
    font-family: 'GmarketSansBold';
    font-size: 16px;
    letter-spacing: -0.15px;
    text-align: center;
    color: #222222;
}

.wrap .bid-wrap{
    margin: auto;
    margin-top: 16px;
    width: 88.9%;
    border-radius: 23px;
    border: solid 1px #ededf2;
    overflow: hidden;
}

.wrap .bid-wrap .bid-head{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 54px;
    padding-top: 19px;
    background-color: #f8f9fb;
    font-size: 0px;
    text-align: center;
}

.wrap .bid-wrap .bid-head .bid-state{
    display: inline-block;
    box-sizing: border-box;
    margin-top: -2px;
    margin-right: 6px;
    padding: 0px 10px;
    width: fit-content;
    font-weight: bold;
    line-height: 22px;
    background-color: #d9dbe0;
    font-size: 12px;
    letter-spacing: -0.11px;
    border-radius: 17px;
    color: #4e535e;
    vertical-align: top;
}

.wrap .bid-wrap .bid-head .bid-state.win{
    color: #f8455f;
    background-color: #ffecef;
}

.wrap .bid-wrap .bid-head .bid-device-name{
    display: inline-block;
    margin: auto;
    height: 18px;
    line-height: 22px;
    font-size: 18px;
    font-family: 'GmarketSansBold';
    letter-spacing: -0.2px;
    text-align: center;
    color: #222222;
    vertical-align: top;
}

.wrap .bid-wrap .bid-content{
    display: block;
    box-sizing: border-box;
    padding: 12px 20px 0px 20px;
    width: 100%;
}

.wrap .bid-wrap .bid-content .bid-content-info{
    display: block;
    position: relative;
    height: 24px;
    margin-bottom: 8px;
}

.wrap .bid-wrap .bid-content p{
    letter-spacing: normal;
}

.wrap .bid-wrap .bid-content .bid-content-info-big{
    display: block;
    position: relative;
    height: 48px;
    margin-bottom: 8px;
}

.wrap .bid-wrap .bid-content .bid-content-info .bid-content-key{
    display: inline-block;
    padding-top: 4px;
    width: fit-content;
    height: 20px;
    font-size: 14px;
    letter-spacing: -0.42px;
    color: #222222;
    opacity: 0.5;
}

.wrap .bid-wrap .bid-content .bid-content-info-big .bid-content-key{
    display: inline-block;
    padding-top: 4px;
    width: fit-content;
    height: 20px;
    font-size: 14px;
    letter-spacing: -0.42px;
    color: #222222;
    opacity: 0.5;
}

.wrap .bid-wrap .bid-content .bid-content-info .bid-content-key-btn{
    display: inline-block;
    padding-top: 4px;
    width: fit-content;
    height: 20px;
    font-size: 14px;
    letter-spacing: -0.42px;
    vertical-align: top;
    color: #0073f4;
    text-decoration: underline;
    text-underline-position: under;
}

.wrap .bid-wrap .bid-content .bid-content-info .bid-content-key-btn .bid-content-info-icon{
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
    margin-top: 6px;
    width: 12px;
    height: 12px;
}

.wrap .bid-wrap .bid-content .bid-content-info .bid-content-value{
    display: block;
    float: right;
    font-size: 16px;
    letter-spacing: -0.18px;
    text-align: right;
    color: #222222;
}

.wrap .bid-wrap .bid-content .bid-content-info .bid-content-value .bid-content-value-x{
    display: inline-block;
    margin: 0px 2px;
    height: 24px;
    opacity: 0.3;
    font-size: 18px;
    letter-spacing: -0.54px;
    color: #222222;
    vertical-align: top;
}

.wrap .bid-wrap .bid-content .bid-content-info .bid-content-value.cancel{
    color: rgba(34, 34, 34, 0.5);
}

.wrap .bid-wrap .bid-content .bid-content-info .bid-content-value.cancel .bid-content-cancel-icon{
    display: inline-block;
    margin-left: -81px;
    margin-top: 4px;
    width: 81px;
    height: 21px;
    vertical-align: top;
}

.wrap .bid-wrap .bid-content .bid-content-info-big .bid-content-value-big{
    display: block;
    float: right;
    font-size: 16px;
    letter-spacing: -0.18px;
    text-align: right;
    color: #222222;
}

.wrap .bid-wrap .bid-content .bid-content-info .bid-content-value-discount{
    display: block;
    float: right;
    font-size: 16px;
    text-align: right;
    color: #222222;
}

.wrap .bid-wrap .bid-content .bid-content-divider{
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    height: 1px;
    background-color: #f3f5f8;
}

.wrap .bid-wrap .bid-divider{
    display: block;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 12px;
    width: 87.5%;
    height: 1px;
    border-bottom: dashed 1px #b6bbc7;
}

.wrap .bid-wrap .bid-foot{
    display: block;
    box-sizing: border-box;
    padding: 0px 20px;
    padding-bottom: 8px;
}

.wrap .bid-wrap .bid-foot .bid-foot-info{
    display: block;
    position: relative;
    height: 24px;
    margin-bottom: 8px;
}

.wrap .bid-wrap .bid-foot .bid-foot-info .bid-foot-key{
    display: inline-block;
    width: fit-content;
    height: 20px;
    font-size: 14px;
    letter-spacing: -0.42px;
    color: #222222;
    opacity: 0.5;
}

.wrap .bid-wrap .bid-foot .bid-foot-info .bid-foot-key-accent{
    display: inline-block;
    padding-top: 4px;
    width: fit-content;
    height: 20px;
    font-size: 14px;
    letter-spacing: -0.42px;
    color: #f8455f;
}

.wrap .bid-wrap .bid-foot .bid-foot-info .bid-foot-value{
    display: block;
    float: right;
    font-size: 16px;
    letter-spacing: -0.18px;
    text-align: right;
    color: #222222;
}

.wrap .bid-wrap .bid-foot .bid-foot-info .bid-foot-value-accent{
    display: block;
    float: right;
    font-size: 14px;
    letter-spacing: -0.16px;
    text-align: right;
    color: #f8455f;
}

.wrap .bid-wrap .bid-foot .bid-foot-info .bid-foot-value-accent p{
    line-height: 30px;
    font-size: 20px;
    letter-spacing: -0.6px;
}

.wrap .bottom-description{
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: -0.1px;
    text-align: center;
    color: #888c99;
}