@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }


*{
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans', sans-serif;
    word-break: keep-all;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style : none;
}

input{
    border:none;
}

input[type=submit]{
    -webkit-appearance:none;
}

.hide{
    display: none;
}

.accent{
    color: red;
}

body{
    background-color: rgba(0, 0, 0, 0.15);
}

.wrap{
    margin: auto;
    position: relative;
    box-sizing: border-box;
    min-width: 360px;
    max-width: 500px;
    padding-bottom: 71px;
    width: 100%;
    height: auto;
    background-color: white;
    overflow: hidden;
}

.wrap .top-wrap{
    display: block;
    box-sizing: border-box;
    position: relative;
    padding: 16px 20px;
    width: 100%;
    height: 56px;
    font-size: 0px;
}

.wrap .top-wrap .top-txt{
    display: block;
    height: 24px;
    line-height: 28px;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    letter-spacing: -0.22px;
    color: #222222;
}

.wrap .select-deal{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 46px;
    background-color: #f8f9fb;
    font-size: 0px;
}

.wrap .select-deal .choice{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    font-family: "GmarketSansMedium";
    font-weight: 500;
    letter-spacing: -0.15px;
    text-align: center;
    color: #222222;
    opacity: 0.5;
}

.wrap .select-deal .choice.select{
    color: #f8455f;
    border-bottom: solid 2px #f8455f;
    opacity: 1;
}

.wrap .ongoing-deal-wrap{
    margin-top: -8px;
}

.wrap .ongoing-deal-item{
    padding-top: 28px;
    display: block;
    box-sizing: border-box;
}

.wrap .ongoing-deal-item .ongoing-deal-item-head{
    display: block;
    box-sizing: border-box;
    position: relative;
    height: 18px;
    padding-left: 20px;
    font-size: 0px;
}

.wrap .ongoing-deal-item .ongoing-deal-item-head .ongoing-deal-time-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.wrap .ongoing-deal-item .ongoing-deal-item-head .ongoing-deal-item-time-txt{
    display: inline-block;
    margin-left: 4px;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.36px;
    color: #f8455f;
    vertical-align: middle;
}

.wrap .ongoing-deal-item .ongoing-deal-item-head .ongoing-deal-item-shop-icon{
    display: inline-block;
    margin-left: 12px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.wrap .ongoing-deal-item .ongoing-deal-item-head .ongoing-deal-item-shop-txt{
    display: inline-block;
    margin-left: 4px;
    height: 18px;
    font-size: 12px;
    letter-spacing: -0.36px;
    color: #4e535e;
    vertical-align: middle;
}

.wrap .ongoing-deal-item .ongoing-deal-item-head .ongoing-deal-item-shop-txt p{
    display: inline;
    font-weight: bold;
}

.wrap .ongoing-deal-item .ongoing-deal-item-head .ongoing-deal-item-recent-txt{
    display: block;
    position: absolute;
    top: 1px;
    right: 40px;
    height: 16px;
    opacity: 0.5;
    font-size: 10px;
    letter-spacing: -0.3px;
    text-align: right;
    color: #222222;
}

.wrap .ongoing-deal-item .ongoing-deal-item-head .ongoing-deal-item-recent-num{
    display: block;
    position: absolute;
    top: 1px;
    right: 20px;
    width: 16px;
    height: 16px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
    background-color: #f8455f;
}

.wrap .ongoing-deal-item .ongoing-deal-item-content{
    display: block;
    box-sizing: border-box;
    margin-top: 7px;
    padding: 16px 20px 20px 20px;
    width: 100%;
    border-radius: 26px;
    background-color: #f8f9fb;
}

.wrap .ongoing-deal-item .ongoing-deal-item-content .ongoing-deal-item-img{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    vertical-align: top;
}

.wrap .ongoing-deal-item .ongoing-deal-item-content .ongoing-deal-item-detail{
    display: inline-block;
    margin-left: 10px;
    width: 200px;
    vertical-align: top;
}

.wrap .ongoing-deal-item .ongoing-deal-item-content .ongoing-deal-item-detail .ongoing-deal-item-name{
    display: block;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.15px;
}

.wrap .ongoing-deal-item .ongoing-deal-item-content .ongoing-deal-item-detail .ongoing-deal-item-info{
    margin-top: 2px;
    margin-bottom: 12px;
    height: 18px;
    font-size: 0px;
}

.wrap .ongoing-deal-item .ongoing-deal-item-content .ongoing-deal-item-detail .ongoing-deal-item-info .ongoing-deal-item-volume{
    display: inline-block;
    font-size: 12px;
    letter-spacing: -0.46px;
    color: #4e535e;
    vertical-align: top;
}

.wrap .ongoing-deal-item .ongoing-deal-item-content .ongoing-deal-item-detail .ongoing-deal-item-info .ongoing-deal-item-divider{
    display: inline-block;
    margin: 6px 8px;
    width: 1px;
    height: 7px;
    background-color: #d8d8d8;
    vertical-align: top;
}

.wrap .ongoing-deal-item .ongoing-deal-item-content .ongoing-deal-item-detail .ongoing-deal-item-info .ongoing-deal-item-color{
    display: inline-block;
    font-size: 12px;
    letter-spacing: -0.46px;
    color: #4e535e;
    vertical-align: top;
}

.wrap .ongoing-deal-item .ongoing-deal-item-content .ongoing-deal-item-detail .ongoing-deal-item-detail-detail{
    margin-top: 4px;
    height: 18px;
    font-size: 0px;
}

.wrap .ongoing-deal-item .ongoing-deal-item-content .ongoing-deal-item-detail .ongoing-deal-item-detail-detail .ongoing-deal-item-key{
    display: inline-block;
    width: 50px;
    height: 18px;
    font-size: 12px;
    letter-spacing: -0.46px;
    color: #b6bbc7;
    vertical-align: top;
}

.wrap .ongoing-deal-item .ongoing-deal-item-content .ongoing-deal-item-detail .ongoing-deal-item-detail-detail .ongoing-deal-item-value{
    display: inline-block;
    margin-left: 11px;
    height: 18px;
    font-size: 12px;
    letter-spacing: -0.46px;
    color: #4e535e;
    vertical-align: top;
}

.wrap .last-deal-wrap{
    margin-top: 19px;
}

.wrap .last-deal-item{
    display: block;
    box-sizing: border-box;
    margin-top: 12px;
    padding: 16px 16px 20px 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f8f9fb;
}

.wrap .last-deal-item .last-deal-item-img{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 4.375%;
    width: 100px;
    height: 100px;
    vertical-align: top;
}

.wrap .last-deal-item .last-deal-item-detail{
    display: inline-block;
    width: 62.5%;
    vertical-align: top;
}

.wrap .last-deal-item .last-deal-item-detail .last-deal-item-shop{
    display: block;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.1px;
    color: #222222;
}

.wrap .last-deal-item .last-deal-item-detail .last-deal-item-shop p{
    display: inline;
    color: #f8455f;
}

.wrap .last-deal-item .last-deal-item-detail .last-deal-item-name{
    display: block;
    margin-top: 9px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.15px;
}

.wrap .last-deal-item .last-deal-item-detail .last-deal-item-date{
    display: block;
    height: 18px;
    font-size: 12px;
    letter-spacing: -0.1px;
    color: #888c99;
}

.wrap .last-deal-item .last-deal-item-detail .last-deal-item-see-detail{
    display: block;
    margin-top: 8px;
    height: 18px;
    font-size: 12px;
    letter-spacing: -0.36px;
    color: #31353e;
}

.wrap .last-deal-item .last-deal-item-detail .last-deal-item-see-detail .see-detail-icon{
    display: inline-block;
    margin-top: 4px;
    width: 12px;
    height: 12px;
    background-image: url("/common/res/icon/ic-right-12@2x.png");
    background-size: 100%;
    vertical-align: top;
}