@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }


*{
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans', sans-serif;
    word-break: keep-all;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    font-family: inherit;
    font-weight: bold;
    display: inline;
}

li{
    list-style : none;
}

input{
    border:none;
}

input[type=submit]{
    -webkit-appearance:none;
}

.hide{
    display: none !important;
}

.accent{
    color: red;
}

body{
    background-color: rgba(0, 0, 0, 0.15);
}

.wrap{
    margin: auto;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 60px;
    min-width: 360px;
    max-width: 500px;
    width: 100%;
    height: auto;
    background-color: white;
    overflow: hidden;
}

.wrap .title-wrap{
    display: block;
    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 20px;
    height: 56px;
}

.wrap .title-wrap .title-container{
    display: block;
    height: 24px;
    line-height: 28px;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    letter-spacing: -0.22px;
    color: #222222;
}

.wrap .new-alarm-wrap .new-alarm-main{
    display: block;
    box-sizing: border-box;
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
    height: 40px;
    font-size: 0px;
}

.wrap .new-alarm-wrap .new-alarm-main .new-alarm-title{
    display: inline-block;
    height: 20px;
    font-size: 16px;
    font-family: 'GmarketSansBold';
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #444444;
}

.wrap .new-alarm-wrap .new-alarm-main .new-alarm-count{
    display: inline-block;
    margin-left: 4px;
    height: 20px;
    font-size: 16px;
    font-family: 'GmarketSansBold';
    line-height: 24px;
    letter-spacing: -0.15px;
    color: #f8455f;
}

.wrap .new-alarm-wrap .new-alarm-main .new-alarm-confirm{
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    height: 20px;
    font-size: 14px;
    letter-spacing: -0.42px;
    text-align: right;
    color: #f8455f;
}

.wrap .alarm-item{
    display: block;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 2px;
    padding: 13px 0px;
    padding-left: 76px;
    width: 100%;
    border-radius: 16px;
    background-color: #f8f9fb;
}

.wrap .alarm-item.new{
    background-color: #fff3f4;
}

.wrap .alarm-item .alarm-item-icon{
    display: block;
    position: absolute;
    left: 26px;
    top: 21px;
    width: 22px;
    height: 22px;
}

.wrap .alarm-item .alarm-item-content{
    display: block;
    width: 230px;
}

.wrap .alarm-item .alarm-item-text{
    display: block;
    line-height: 18px;
    font-size: 14px;
    letter-spacing: -0.35px;
    color: #222222;
}

.wrap .alarm-item .alarm-item-time{
    display: block;
    margin-top: 2px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #888c99;
}

.wrap .alarm-item .alarm-item-new{
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -9px;
    width: 18px;
    height: 18px;
}

.wrap .previous-alarm-wrap .previous-alarm-main{
    display: block;
    box-sizing: border-box;
    position: relative;
    padding-top: 34px;
    padding-left: 20px;
    height: 62px;
    font-size: 0px;
}

.wrap .previous-alarm-wrap .previous-alarm-main .previous-alarm-title{
    display: block;
    height: 20px;
    font-size: 16px;
    font-family: 'GmarketSansBold';
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #444444;
}